@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Tajawal&display=swap');

/* 
font-family: 'Poppins',sans-serif;
font-family: 'Tajawal',sans-serif;
 */
h1 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Tajawal', sans-serif;
}